body {
    background-color: #051a0b;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatorFrame {
    flex: 1 1 atuo;
    height: auto;
    width:auto;
    background-color: black;
    border-radius: 15px;
}

.screenFrame {
    flex: 1 1 atuo;
    height: 10vh;
    margin: 30px;
    background-color: dimgray;
}

.footer {
    flex: 0 0 60px;
    background-color: #020804;
}

.buttonFrame {
    display: flex;
    max-height: 600px;
    aspect-ratio: 4/5;
    margin: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.keyContainer {
    margin: 0;
    flex: 0 0 25%;
    aspect-ratio: 1/1;
    display: flex;
}

.key {
    flex: 1;
    margin: 2%;
    background-color: honeydew;
}